<label for="photos">Photos:</label>
<input type="file" class="form-control" id="file" (change)="addedFile($event)" multiple>

<button (click)="uploadFiles()">Upload</button>

<br>
<br>
<br>

<span>Actions</span>
<button (click)="deleteFile()">Delete File</button>
<button (click)="setMainImage()" [hidden]="selectedFile.type!=='image'">Set Image as Main Image</button>

<br>
<br>

    <div *ngFor='let file of files' style="display:inline-block">
        <img  [src]="file.url" height="150" width="200px" [ngClass]="{'fileSelected': file === selectedFile, 'file':file !== selectedFile }" (click)="selectFile($event,file)">
        <div>{{file.filename}}</div>
    </div>

