<a class="btn bg-primary text-light" (click)="backButton()">Back</a>
<br>
<br>

<form [formGroup]="animalForm">
    <div class="form-group">
        <label for="name">Name:</label><br>
        <input class="form-control" type="text" id="name" name="name" formControlName="name">
    </div>

    <div class="form-group">
        <label for="species">Species:</label><br>
        <ng-container *ngIf='speciesOptions | async as speciesOptions'>
            <select  class="form-control" id="species" name="name" formControlName="species">
                <option *ngFor="let option of speciesOptions" [value]="option.id">{{option.name}}</option>
            </select>
        </ng-container>
    </div>

    <div class="form-group">
        <label for="breed">Breed:</label><br>
        <ng-container *ngIf='breedOptions | async as breedOptions'>
            <select class="form-control" id="breed" name="breed" formControlName="breed">
                <ng-container *ngFor="let option of breedOptions">
                    <option *ngIf="animalForm.get('species').value == option.species.id" [value]="option.id">{{option.name}}</option>
                </ng-container>
            </select>
        </ng-container>
    </div>

    <div class="form-group">
        <label for="birthDate">Birth Date</label><br>
        <input class="form-control" type="date" id="birthDate" name="birthDate" formControlName="birthDate">
    </div>

    <div class="form-group">
        <label for="deathDate">Death Date</label><br>
        <input class="form-control" type="date" id="deathDate" name="deathDate" formControlName="deathDate">
    </div>

    <div class="form-group">
        <label for="vaccinated">Vaccinated</label><br>
        <select class="form-control" type="vaccinated" id="vaccinated" name="vaccinated"
            formControlName="vaccinated">
            <option value="S">S</option>
            <option value="N">N</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sex">Sex</label><br>
        <select class="form-control" type="sex" id="sex" name="sex" formControlName="sex">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sterilized">Sterilized</label><br>
        <select class="form-control" type="sterilized" id="sterilized" name="sterilized" formControlName="sterilized">
            <option value="S">S</option>
            <option value="N">N</option>
        </select>
    </div>

    <div class="form-group">
        <label for="weight">Weight</label><br>
        <input class="form-control" type="number" id="weight" name="weight" formControlName="weight">
    </div>

    <div class="form-group">
        <label for="state">State:</label><br>
        <ng-container *ngIf='stateOptions | async as stateOptions'>
            <select class="form-control" id="state" name="state" formControlName="state">
                <ng-container *ngFor="let option of stateOptions">
                    <option [value]="option.id">{{option.name}}</option>
                </ng-container>
            </select>
        </ng-container>
    </div>

        


    



</form>